In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

# DataFrame Copy
df_original = df.copy()

Using the latest cached version of the dataset since lukebarousse/data_jobs couldn't be found on the Hugging Face Hub
Found the latest cached dataset configuration 'default' at C:\Users\cuanl\.cache\huggingface\datasets\lukebarousse___data_jobs\default\0.0.0\ed776e5a0a8c40ea9d5efbd800772ae52e140f3e (last modified on Tue Dec 23 09:22:57 2025).

In [2]:

# Create new dataframe
df_altered = df_original

df_altered.loc[:5,'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [3]:
# Calculating the median salary
median_salary = df_altered['salary_year_avg'].median()

# Filling the missing values with the median salary
df_altered['salary_year_avg'] = df_altered.loc[:,'salary_year_avg'].fillna(median_salary)

In [4]:

df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)

In [5]:

df_altered.loc[:5,'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [6]:

print('ID of df_original:               ', id(df_original))
print('ID of df_altered:                ', id(df_altered))
print('Are the two dataframes the same? ', id(df_original) == id(df_altered))

ID of df_original:                2244777546640
ID of df_altered:                 2244777546640
Are the two dataframes the same?  True

In [7]:

df_original = df.copy()
df_altered = df_original.copy()

print('ID of df_original:               ', id(df_original))
print('ID of df_altered:                ', id(df_altered))
print('Are the two dataframes the same? ', id(df_original) == id(df_altered))

ID of df_original:                2246336773648
ID of df_altered:                 2244367648592
Are the two dataframes the same?  False

In [8]:
# Calculating the median salary
median_salary = df_altered['salary_year_avg'].median()

# Filling the missing values with the median salary
df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)

df_altered.loc[:5,'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [9]:

df_original.loc[:5,'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [10]:

df.sample(n=5)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
429065,Data Engineer,Data Engineer (A.I),"London, UK",via LinkedIn,Full-time,False,United Kingdom,2023-09-29 16:11:33,False,False,United Kingdom,None,NaN,NaN,Synechron,"['python', 'azure', 'airflow', 'terraform']","{'cloud': ['azure'], 'libraries': ['airflow'],..."
178524,Data Scientist,2023 intern - PhD Bid Data Research,"Dublin, Ireland",via Trabajo.org,Full-time,False,Ireland,2023-06-11 15:38:28,False,False,Ireland,None,NaN,NaN,Huawei Ireland,"['r', 'sas', 'sas', 'python']","{'analyst_tools': ['sas'], 'programming': ['r'..."
125459,Data Engineer,Lead Data Engineer (M/F/D),Austria,via LinkedIn,Full-time,False,Austria,2023-06-14 08:50:54,True,False,Austria,None,NaN,NaN,SO Digital Recruitment,"['python', 'sql', 'nosql', 'azure', 'databrick...","{'cloud': ['azure', 'databricks'], 'libraries'..."
158143,Business Analyst,Analyst Relations Project Manager Senior Analyst,"Heredia Province, Heredia, Costa Rica",via BeBee Costa Rica,Full-time,False,Costa Rica,2023-06-18 08:22:42,False,False,Costa Rica,None,NaN,NaN,Accenture,['powerpoint'],{'analyst_tools': ['powerpoint']}
321403,Data Scientist,Data Scientist IV,"Gainesville, FL",via Uni Roles,Full-time,False,"Florida, United States",2023-04-21 17:08:40,False,False,United States,None,NaN,NaN,The University of Florida,"['python', 'sql', 'aws', 'pandas', 'pytorch', ...","{'cloud': ['aws'], 'libraries': ['pandas', 'py..."

In [18]:
df.sample(frac=0.1, replace=False)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
212633,Data Analyst,Ingénieur Data,"Paris, France",via BeBee,Full-time,False,France,2023-11-25 22:13:20,False,False,France,None,NaN,NaN,AB Tasty,"['javascript', 'golang', 'java', 'python', 'ph...","{'cloud': ['gcp', 'bigquery'], 'other': ['kube..."
467848,Senior Data Analyst,Senior Data Analyst,"Deerfield Beach, FL",via BeBee,Full-time,False,"Florida, United States",2023-01-28 14:02:37,False,True,United States,None,NaN,NaN,"JM Family Enterprises, Inc.","['sql', 'sql server', 'oracle', 'azure', 'outl...","{'analyst_tools': ['outlook', 'sharepoint'], '..."
63112,Business Analyst,Junior Business Analyst,Australia,via LinkedIn,Contractor,False,Australia,2023-07-11 06:23:49,False,False,Australia,None,NaN,NaN,The Onset,"['jira', 'confluence']","{'async': ['jira', 'confluence']}"
139071,Data Engineer,Data Engineer,"Copenhagen, Denmark",via BeBee Danmark,Full-time,False,Denmark,2023-06-26 08:47:17,False,False,Denmark,None,NaN,NaN,Workday,"['python', 'java', 'sql', 'nosql', 'aws', 'gcp...","{'analyst_tools': ['tableau'], 'cloud': ['aws'..."
443624,Data Engineer,AWS Data Engineer,Anywhere,via Dice,Contractor,True,Canada,2023-04-04 16:33:26,True,False,Canada,hour,NaN,57.5,"KPI Partners, Inc.","['python', 'sql', 'nosql', 'r', 'dynamodb', 'a...","{'analyst_tools': ['excel', 'tableau', 'sheets..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145106,Data Engineer,Data Engineer - Nederland - 6 maanden,Netherlands,via JobServe,Contractor,False,Netherlands,2023-07-13 08:16:44,True,False,Netherlands,None,NaN,NaN,Global Enterprise Partners,"['python', 'powershell', 'azure', 'power bi', ...","{'analyst_tools': ['power bi', 'qlik'], 'cloud..."
779152,Senior Data Analyst,Data Analytics Senior,"Bloomington, IN",via BeBee,Full-time,False,"Illinois, United States",2023-09-12 05:02:01,False,True,United States,None,NaN,NaN,myGwork,"['sql', 'sas', 'sas', 'python', 'excel', 'flow']","{'analyst_tools': ['sas', 'excel'], 'other': [..."
667141,Business Analyst,Marketing Science Analyst,Argentina,via LinkedIn,Full-time,False,Argentina,2023-01-03 19:57:49,True,False,Argentina,None,NaN,NaN,Wunderman Thompson Argentina,"['tableau', 'power bi']","{'analyst_tools': ['tableau', 'power bi']}"
784202,Business Analyst,Lead Business Analyst & MIS,Anywhere,via LinkedIn,Full-time,True,India,2023-01-03 06:25:19,False,False,India,None,NaN,NaN,Quest Business Solution,"['python', 'sql', 'sas', 'sas', 'r', 'azure', ...","{'analyst_tools': ['sas', 'excel', 'powerpoint..."
361828,Senior Data Scientist,Senior Data Scientist,"Lisbon, Portugal",via Recruit.net,Full-time,False,Portugal,2023-07-27 23:44:42,False,False,Portugal,None,NaN,NaN,Appy People,None,None