In [1]:

# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

Warning: You are sending unauthenticated requests to the HF Hub. Please set a HF_TOKEN to enable higher rate limits and faster downloads.

In [2]:

df.sample(3)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
296955,Business Analyst,Lead BI Analyst (Japanese-speaking),Anywhere,via LinkedIn,None,True,Malaysia,2023-03-29 17:36:30,True,False,Malaysia,None,NaN,NaN,EPAM Systems,['go'],{'programming': ['go']}
537482,Data Analyst,Data Analyst - Tire Warranty Quality Assurance,"White, GA",via Tarta.ai,Full-time,False,Georgia,2023-02-14 19:49:52,False,False,United States,None,NaN,NaN,Toyo Tires,"['matlab', 'sql', 'cognos', 'tableau']","{'analyst_tools': ['cognos', 'tableau'], 'prog..."
117342,Data Analyst,Data Analyst SQL Python,Spain,via BeBee,Full-time,False,Spain,2023-08-29 08:43:02,False,False,Spain,None,NaN,NaN,Krell Consulting,"['sql', 'python', 'r', 'oracle', 'azure', 'spa...","{'analyst_tools': ['excel', 'power bi'], 'clou..."

In [3]:

df.index

RangeIndex(start=0, stop=785741, step=1)

In [4]:

df.index.dtype

dtype('int64')

In [5]:

df.index.name

In [6]:

df.index.name = 'job_index'

In [7]:

df.index.name

'job_index'

In [8]:

df.sample(3)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
job_index,,,,,,,,,,,,,,,,,
462607,Data Engineer,Cloud Data Engineer - 7216,"Zürich, Switzerland",via LinkedIn,Full-time,False,Switzerland,2023-07-19 14:39:05,True,False,Switzerland,None,NaN,NaN,IT Di-Visions AG,"['python', 'sql', 'scala', 'azure', 'databrick...","{'cloud': ['azure', 'databricks'], 'libraries'..."
116599,Data Engineer,Data Build Engineer,"Taguig, Metro Manila, Philippines",via Jora,Full-time,False,Philippines,2023-05-17 08:30:09,True,False,Philippines,None,NaN,NaN,Globe,None,None
491407,Cloud Engineer,Customer Experience Analyst,"Sheffield, UK",via Harnham,Full-time,False,United Kingdom,2023-03-18 11:15:33,True,False,United Kingdom,None,NaN,NaN,Test,"['sas', 'sas', 'python', 'r']","{'analyst_tools': ['sas'], 'programming': ['sa..."